* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.navbar {
  grid-row: 1;
  max-width: 80%; /* Modifica este valor según tus necesidades */
  margin: 0 auto; /* Para centrar la barra de navegación */
}


.panel.inicial {
  grid-row: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/Entrega2/images/fondo.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.footer {
  grid-row: 3;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: white;
  text-align: center;
}

@media (min-width: 768px) {
  .panel.inicial {
    align-items: center;
  }
  
  .card-columns {
    column-count: 3;
  }
}
