/* Estilos generales */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para la vista de escritorio */
/* Estilos para el encabezado */
header {
  background-color: #f8f8f8;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  margin-left: 15px;
  text-decoration: none;
  color: #333;
}

/* Estilos para el contenido principal */
section.panel {
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.card {
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 50px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

/* Estilos para el aside en la vista de escritorio */
aside {
  background-color: #f9f9f9;
  padding: 20px;
}
aside img {
  width: 100%;
}

aside .btn-primary {
  width: 100%;
  margin-top: 10px;
}

/* Estilos para la vista móvil */
@media (max-width: 767px) {
  /* Estilos específicos para móvil */
  .container {
    padding: 10px;
  }

  header {
    padding: 5px;
  }

  .navbar-brand {
    font-size: 16px;
  }

  .nav-link {
    margin-left: 10px;
    font-size: 14px;
  }

  section.panel {
    padding: 10px;
    margin-bottom: 10px;
  }

  .card-img-top {
    height: 200px;
  }

  .card-title {
    font-size: 16px;
  }

  /* Estilos para el aside en la vista móvil */
  aside {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
